In [1]:
# =========================================================================== #
# STANDARD IMPORTS
# =========================================================================== #
print(__doc__)

# Critical Imports
# --------------------------------------------------------------------------- #
import warnings; warnings.filterwarnings("ignore")

# Imports through 'from' syntax
# --------------------------------------------------------------------------- #
from pprint import pprint
from IPython.display import display
from itertools import islice

# Standard Imports
# --------------------------------------------------------------------------- #
import copy; import os
import sys; import time
import itertools;

# Imports through 'as' syntax
# --------------------------------------------------------------------------- #
import numpy as np; import pandas as pd

# Imports for handling graphics
# --------------------------------------------------------------------------- #
%matplotlib inline
# Matplotlib pyplot provides plotting API
import matplotlib as mpl
from matplotlib import pyplot as plt
import chart_studio.plotly.plotly as py
import seaborn as sns;  sns.set(style="ticks", color_codes=True) # sns.set()

from sklearn.metrics import classification_report

Automatically created module for IPython interactive environment

In [2]:
import ipywidgets as widgets
from IPython import display
import pandas as pd
import numpy as np

# sample data
df1 = pd.DataFrame(np.random.randn(8, 3))
df2 = pd.DataFrame(np.random.randn(8, 3))

# create output widgets
widget1 = widgets.Output()
widget2 = widgets.Output()

# render in output widgets
with widget1:
    display.display(df1)
with widget2:
    display.display(df2)

# create HBox
hbox = widgets.HBox([widget1, widget2])

# render hbox
hbox

          0         1         2
0  2.343820  0.668530  0.276936
1 -0.729541  0.031215  0.266851
2  0.705437 -1.003002 -0.593825
3 -0.684256  2.563405  2.382554
4 -0.468402 -0.293368 -0.022500
5 -0.831678 -1.378029  1.188860
6  1.148587  0.101518 -0.116776
7 -0.001077 -0.545430  1.349099

          0         1         2
0  0.176293 -2.518744  0.375491
1  0.096826  0.884229  1.568509
2 -0.545209  0.969150 -0.945508
3  1.113307  0.069239  2.030235
4  1.283892 -0.039245  0.369134
5  0.166320  0.633121 -2.284220
6  0.413448  1.284498  0.954818
7  0.001494 -0.137579 -0.638792

HBox(children=(Output(), Output()))

In [3]:
y_true = [0, 1, 2, 2, 2]
y_pred = [0, 0, 2, 2, 1]
target_names = ['class 0', 'class 1', 'class 2']
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

     class 0       0.50      1.00      0.67         1
     class 1       0.00      0.00      0.00         1
     class 2       1.00      0.67      0.80         3

    accuracy                           0.60         5
   macro avg       0.50      0.56      0.49         5
weighted avg       0.70      0.60      0.61         5

In [4]:
res_report = classification_report(y_true, y_pred, target_names=target_names, output_dict=True)
indeces_df = list(res_report.keys())
columns_df = list(res_report[list(res_report.keys())[0]].keys())
data = []
for k, v in res_report.items():
    record = []
    try:
        for _, v2 in v.items():
            record.append(v2)
        data.append(record)
    except:
        record = [None] * 2 + [v] + [len(y_true)]
        data.append(record)
        pass
df = pd.DataFrame(data=data, columns=columns_df, index=indeces_df[:])
df

              precision    recall  f1-score  support
class 0             0.5  1.000000  0.666667        1
class 1             0.0  0.000000  0.000000        1
class 2             1.0  0.666667  0.800000        3
accuracy            NaN       NaN  0.600000        5
macro avg           0.5  0.555556  0.488889        5
weighted avg        0.7  0.600000  0.613333        5

In [5]:
text_file = open("filename.html", "a")
# write the CSS
text_file.write(css)
# write the HTML-ized Pandas DataFrame
text_file.write(df.to_html())
text_file.close()

imgkitoptions = {"format": "png"}
imgkit.from_file("filename.html", outputfile, options=imgkitoptions)

NameError: name 'css' is not defined

In [ ]:
y_pred = [1, 1, 0]
y_true = [1, 1, 1]
print(classification_report(y_true, y_pred, labels=[1, 2, 3]))