In [1]:
# =========================================================================== #
# STANDARD IMPORTS
# =========================================================================== #
print(__doc__)

# Critical Imports
# --------------------------------------------------------------------------- #
import warnings; warnings.filterwarnings("ignore")

# Imports through 'from' syntax
# --------------------------------------------------------------------------- #
from pprint import pprint
from IPython.display import display
from itertools import islice

# Standard Imports
# --------------------------------------------------------------------------- #
import copy; import os
import sys; import time
import itertools;

# Imports through 'as' syntax
# --------------------------------------------------------------------------- #
import numpy as np; import pandas as pd

# Imports for handling graphics
# --------------------------------------------------------------------------- #
%matplotlib inline
# Matplotlib pyplot provides plotting API
import matplotlib as mpl
from matplotlib import pyplot as plt
import chart_studio.plotly.plotly as py
import seaborn as sns;  sns.set(style="ticks", color_codes=True) # sns.set()

from sklearn.metrics import classification_report

Automatically created module for IPython interactive environment

In [2]:
import ipywidgets as widgets
from IPython import display
import pandas as pd
import numpy as np

In [3]:
def merge_dfs_by_common_columns(df1, df2, axis=0, ignore_index=True):
    res = list(set(df1.columns).intersection(set(df2.columns)))
    indeces = df1.index + df2.index
    df_res = pd.concat([df1[:, res], df2[:, res]], axis=axis, ignore_index=ignore_index)
    return df_res.set_index(indeces)

In [4]:
# sample data
df1 = pd.DataFrame(np.random.randn(8, 3), index=[f"df1-{ii}" for ii in range(8)])
df2 = pd.DataFrame(np.random.randn(8, 3), columns=[0, 2, 3], index=[f"df2-{ii}" for ii in range(8)])

# create output widgets
widget1 = widgets.Output()
widget2 = widgets.Output()

# render in output widgets
with widget1:
    display.display(df1)
with widget2:
    display.display(df2)

# create HBox
hbox = widgets.HBox([widget1, widget2])

# render hbox
hbox

             0         1         2
df10 -1.322288 -1.208522 -0.288336
df11 -1.087589 -0.015035 -0.212822
df12  0.121659  0.100760 -0.460991
df13  0.358186  0.389657 -1.280154
df14  1.896522 -0.056117 -1.886768
df15  0.646301 -0.114956 -0.188119
df16  1.100329  0.427032  1.253222
df17  0.652700 -0.858136  0.247947

           0         2         3
20  0.244324  0.309081  0.520199
21 -0.568702  0.255993 -1.224205
22  0.090944  2.058918 -1.800265
23 -0.423694  1.628132  0.650208
24  0.023834 -0.512964 -0.127040
25  0.007798  1.024801  1.777400
26  0.661033  0.851411 -0.250929
27  0.135110 -0.579184  0.186641

HBox(children=(Output(), Output()))

In [5]:
res = [0,1]
df1[res]

             0         1
df10 -1.322288 -1.208522
df11 -1.087589 -0.015035
df12  0.121659  0.100760
df13  0.358186  0.389657
df14  1.896522 -0.056117
df15  0.646301 -0.114956
df16  1.100329  0.427032
df17  0.652700 -0.858136

In [6]:
def merge_dfs_by_common_columns(df1, df2, axis=0, ignore_index=True):
    res = list(set(df1.columns).intersection(set(df2.columns)))
    df_res = pd.concat([df1[res], df2[res]], axis=axis, ignore_index=ignore_index)
    if df1.index.equals(df2.index) is False:
        indeces = pd.Index(list(df1.index) + list(df2.index))
        return df_res.set_index(indeces)
    return df_res
merge_dfs_by_common_columns(df1, df2, axis=0, ignore_index=True)

             0         2
df10 -1.322288 -0.288336
df11 -1.087589 -0.212822
df12  0.121659 -0.460991
df13  0.358186 -1.280154
df14  1.896522 -1.886768
df15  0.646301 -0.188119
df16  1.100329  1.253222
df17  0.652700  0.247947
20    0.244324  0.309081
21   -0.568702  0.255993
22    0.090944  2.058918
23   -0.423694  1.628132
24    0.023834 -0.512964
25    0.007798  1.024801
26    0.661033  0.851411
27    0.135110 -0.579184

In [7]:
y_true = [0, 1, 2, 2, 2]
y_pred = [0, 0, 2, 2, 1]
target_names = ['class 0', 'class 1', 'class 2']
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

     class 0       0.50      1.00      0.67         1
     class 1       0.00      0.00      0.00         1
     class 2       1.00      0.67      0.80         3

    accuracy                           0.60         5
   macro avg       0.50      0.56      0.49         5
weighted avg       0.70      0.60      0.61         5

In [8]:
res_report = classification_report(y_true, y_pred, target_names=target_names, output_dict=True)
indeces_df = list(res_report.keys())
columns_df = list(res_report[list(res_report.keys())[0]].keys())
data = []
for k, v in res_report.items():
    record = []
    try:
        for _, v2 in v.items():
            record.append(v2)
        data.append(record)
    except:
        record = [None] * 2 + [v] + [len(y_true)]
        data.append(record)
        pass
df = pd.DataFrame(data=data, columns=columns_df, index=indeces_df[:])
df

              precision    recall  f1-score  support
class 0             0.5  1.000000  0.666667        1
class 1             0.0  0.000000  0.000000        1
class 2             1.0  0.666667  0.800000        3
accuracy            NaN       NaN  0.600000        5
macro avg           0.5  0.555556  0.488889        5
weighted avg        0.7  0.600000  0.613333        5

In [9]:
y_pred = [1, 1, 0]
y_true = [1, 1, 1]
print(classification_report(y_true, y_pred, labels=[1, 2, 3]))

              precision    recall  f1-score   support

           1       1.00      0.67      0.80         3
           2       0.00      0.00      0.00         0
           3       0.00      0.00      0.00         0

   micro avg       1.00      0.67      0.80         3
   macro avg       0.33      0.22      0.27         3
weighted avg       1.00      0.67      0.80         3